.gallery {
    width: 100%;
}

.gallery__row {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    height: 350px;
    flex: 1 1 25%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.gallery__img {
    min-width: 100%;
    height: 100%;
}

.gallery__content {
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(232, 69, 69, 0.726);
    opacity: 0;
    transition: 0.3s;
}

.gallery__title p {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: bold;
}

.gallery__subtitle {
    font-size: 0.95em;
    margin-top: 13px;
}

.gallery__item:hover .gallery__content {
    opacity: 1;
}