.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #2e3049;
    backdrop-filter: blur(10px);
    opacity: 0.6;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #515369;
    padding: 40px 0px;
}

.header__nav {
    display: flex;
}

.header__nav li {
    padding-left: 60px;
}

.header__nav li a {
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 700;
    opacity: 0.85;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    letter-spacing: 0.5px;
}

.header__nav li a:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {
    .header__nav {
        display: none;
    }
}